:host {
  position: relative;

  .wrapper {
    position: relative;
  }

  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .arrow {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 4rem;
    fill: white;
    z-index: 5;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.arrow-next {
      right: 0;
    }

    &.arrow-prev {
      left: 0;
    }
  }
}

::slotted(*) {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px;
  transition: transform 1s linear;
}

::slotted(.visible),
::slotted(.active) {
  display: block;
}

::slotted(.slide-prev.active) {
  transform: translate3d(100%, 0, 0);
}

::slotted(.slide-next.active) {
  transform: translate3d(-100%, 0, 0);
}

// Set initial position to the right of active
::slotted(.visible-next),
::slotted(.visible-prev) {
  position: absolute;
  top: 0;
  display: block;
}

::slotted(.visible-next) {
  transform: translate3d(100%, 0, 0);
}

::slotted(.visible-prev) {
  transform: translate3d(-100%, 0, 0);
}

::slotted(.visible-prev.slide-prev),
::slotted(.visible-next.slide-next) {
  transform: translate3d(0, 0, 0);
}

// .carousel-item.active,
// .carousel-item-next,
// .carousel-item-prev {
//   display: block;
//   @include transition($carousel-transition);
// }

// .carousel-item-next,
// .carousel-item-prev {
//   position: absolute;
//   top: 0;
// }

// .carousel-item-next.carousel-item-left,
// .carousel-item-prev.carousel-item-right {
//   transform: translateX(0);

//   @supports (transform-style: preserve-3d) {
//     transform: translate3d(0, 0, 0);
//   }
// }

// .carousel-item-next,
// .active.carousel-item-right {
//   transform: translateX(100%);

//   @supports (transform-style: preserve-3d) {
//     transform: translate3d(100%, 0, 0);
//   }
// }

// .carousel-item-prev,
// .active.carousel-item-left {
//   transform: translateX(-100%);

//   @supports (transform-style: preserve-3d) {
//     transform: translate3d(-100%, 0, 0);
//   }
// }
