:host {
  position: relative;

  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  // img {
  //   width: 100%;
  //   display: block;
  // }
}

::slotted(*) {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px;
}

::slotted(.active) {
  display: block;
}

::slotted(.prev-transition), ::slotted(.next-transition) {
  position: absolute;
  top: 0;
}

::slotted(.prev-transition) {
  display: block;
}

::slotted(.next-transition) {
  display: block;
}


// .carousel-item.active,
// .carousel-item-next,
// .carousel-item-prev {
//   display: block;
//   @include transition($carousel-transition);
// }

// .carousel-item-next,
// .carousel-item-prev {
//   position: absolute;
//   top: 0;
// }

// .carousel-item-next.carousel-item-left,
// .carousel-item-prev.carousel-item-right {
//   transform: translateX(0);

//   @supports (transform-style: preserve-3d) {
//     transform: translate3d(0, 0, 0);
//   }
// }

// .carousel-item-next,
// .active.carousel-item-right {
//   transform: translateX(100%);

//   @supports (transform-style: preserve-3d) {
//     transform: translate3d(100%, 0, 0);
//   }
// }

// .carousel-item-prev,
// .active.carousel-item-left {
//   transform: translateX(-100%);

//   @supports (transform-style: preserve-3d) {
//     transform: translate3d(-100%, 0, 0);
//   }
// }
